{% extends 'base.html.twig' %}

{% block title %}Hello AProposDeNousController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <div><h1>A propos de nous</h1>
</div>
    Lorem ipsum dolor sit amet consectetur 
    adipisicing elit. Deleniti sequi a repudiandae, 
    veritatis consectetur fugiat magni esse, iure possimus 
    earum aut ea delectus recusandae eius doloribus doloremque
   impedit! Perferendis, mollitia.

   Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni laborum voluptatum cum tempore ea accusamus.
    Maiores quaerat aliquam temporibus quisquam iure, repudiandae maxime ipsa ipsam mollitia odit labore explicabo ut?

    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui accusantium architecto veritatis reprehenderit iure, 
    iusto suscipit similique autem ad aliquid explicabo quis repellat reiciendis eveniet voluptatum! Repudiandae ducimus ipsam placeat.
</div>

<div><h2>Notre poliqtique</h2>
Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
Maxime commodi fugiat enim quos eum, veniam numquam saepe omnis labore adipisci deleniti,
 suscipit architecto et voluptatum earum molestiae cupiditate excepturi. Dicta.

 Lorem ipsum dolor sit amet consectetur adipisicing elit. 
Dolorem perferendis pariatur deleniti asperiores eos et laudantium 
veniam dolore voluptas animi nihil nostrum molestiae modi, 
vitae laboriosam natus atque illo dicta!


Lorem ipsum dolor sit amet consectetur adipisicing elit. 
Id eveniet nemo quasi velit ullam tempora in impedit nostrum numquam,
 magni fugiat molestias fuga corporis dolorem repellat atque eaque? Fuga, architecto.


 Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, 
 asperiores dolores id quibusdam assumenda cum eum. Distinctio, repellat quis. 
 Eveniet, assumenda. Quis corporis dolorum architecto est, at quia dolore repellendus!
</div>
{% endblock %}
